<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar File PDF</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Daftar File PDF</h2>
        <ul class="list-group">
            {% for file in files %}
                <li class="list-group-item">
                    {{ file[1] }} <a href="{{ url_for('download_file', file_id=file[0]) }}" class="btn btn-primary btn-sm float-right">Download</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
